{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	{% block title %}<title>{{ title }}</title>{% endblock %}
</head>
<body>
{% include 'inc/_nav.html' %}
	<div class = "container-fluid mt-3">
		<div class = "row">
		
			{% if messages %}
			
			{% for message in messages %}
			
				{% if message.tags == 'error' %}
					<div class="alert alert-danger" role="alert">
						{{ message }}
					</div>
				{% else %}
					<div class="alert alert-{{ message.tags }}" role="alert">
						{{ message }}
					</div>
				{% endif %}
				
			{% endfor %}
			
			{% endif %}
		
			{% block content %}CONTENT{% endblock %}

			{% include 'inc/_sidebar.html' %}

			{% if page_obj.has_other_pages %}

			<div class="container-fluid">
			<nav aria-label="Page navigation example">
  				<ul class="pagination d-flex justify-content-center">

					{% if page_obj.has_previous %}
					<li class="page-item">
						<a class="page-link" href="?{{ s }}page={{ page_obj.previous_page_number }}">Пред.</a>
					</li>
					{% endif %}

					{% for p in page_obj.paginator.page_range %}

					{% if page_obj.number == p %}
					<li class="page-item active" aria-current="page">
						<a class="page-link" href="?{{ s }}page={{ p }}">{{ p }}</a>
					</li>
					{% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
					<li class="page-item">
						<a class="page-link" href="?{{ s }}page={{ p }}">{{ p }}</a>
					</li>
					{% endif %}

					{% endfor %}

					{% if page_obj.has_next %}
					<li class="page-item">
						<a class="page-link" href="?{{ s }}page={{ page_obj.next_page_number }}">След.</a>
					</li>
					{% endif %}

  				</ul>
			</nav>
			</div>

			{% endif %}


		</div>
	</div>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
