{% extends 'base.html' %}

{% block title %}<title>Поиск</title>{% endblock %}

{% block content %}
<div class = "col-md-9">
	{% for item in stories %}
	<div class="card mb-3">
		<div class="card-header">
			Категории:
			{% for category in item.category.all %}
				{% if not forloop.last %}
					<a class="text-reset" href="{{ category.get_absolute_url }}">{{ category.title }}</a> /
				{% else %}
					<a class="text-reset" href="{{ category.get_absolute_url }}">{{ category.title }}</a>
				{% endif %}
			{% endfor %}
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-4">
					{% if item.image %}
						<img src="{{ item.image.url }}" alt="" class="img-fluid rounded-start mb-3">
					{% endif %}
				</div>
				<div class="col-md-8">
						<h5 class="card-title">{{ item.title }}</h5>
						<p class="card-text">{{ item.text|truncatewords_html:100|safe }}</p>
						<a href="{{ item.get_absolute_url }}" class="btn btn-primary">Читать далее</a>
				</div>
			</div>
		</div>
		<div class="card-footer text-muted">
			{{ item.created_at|date:"Y.m.d H:i:s" }}
		</div>
	</div>
	{% empty %}
	<div class="card mb-3">
		<p class="text-center">К сожалению, по вашему запросу ничего не найдено</p>
	</div>
	{% endfor %}
</div>
{% endblock %}